@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Light.ttf');
  src: url('./assets/fonts/Lato-Regular.ttf');
  font-weight: 300, 400;
}

@font-face {
  font-family: 'Permanentmarker';
  src: url('./assets/fonts/PermanentMarker-Regular.tff');
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --flower: #fff;
  --flower-overlay50: #fff;
  --bg-gradient-bottom: #fb6f6f;
  --bg-gradient-top: #a465f4;
  --bg-gradient: linear-gradient(23deg, fb6f6f 32.12%, a465f4 87.87%);
  --color-primary: #f9f2ff;
  --color-secondary: #f29a9a;
  --color-tertiary: #9a6691;
  --color-action: #8312a5;
  --color-day-highlight: #ffda7a;
  --color-division-line: #ce8dcc;
  --font-family-primary: 'Lato', sans-serif;
  --font-family-secondary: 'Permanentmarker', cursive;
  --font-weight-regular: 400;
  --font-weight-light: 300;
}

body {
  margin: 0;
}
