/* Month */
.react-calendar__navigation__label__labelText--from {
  color: #f9f2ff;
  font-size: 2.5rem;
}

/* Arrow to next month */
.react-calendar__navigation__next-button {
  color: #8312a5;
  font-size: 2.5rem;
}

/* Arrow to previous month */
.react-calendar__navigation__prev-button {
  color: #8312a5;
  font-size: 2.5rem;
}

/* Remove arrow to same month, next year */
.react-calendar__navigation__next2-button {
  color: transparent;
  padding: 0;
}

/* Remove arrow to same month, previous year */
.react-calendar__navigation__prev2-button {
  color: transparent;
  padding: 0;
}

/* Mo-So */
.react-calendar__month-view__weekdays {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-light);
  color: #8312a5;
  font-size: 0.9rem;
  text-align: center;
  text-transform: none;
  text-decoration: none;
}

/* Zahlen im Kalender, des jeweiligen Monats */
.react-calendar__month-view__days__day {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  color: #8312a5;
  font-size: 1.1rem;
}

/* Zahlen im Kalender, des vorherigen und nächsten Monats */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #9a6691;
}

/* Einzelne Kachel, wo die Zahlen drin sind */
.react-calendar__tile {
  padding: 0.75rem;
}

/* Tile now: heutige Kachel, wenn nicht angeklickt */
.react-calendar__tile--now {
  background: #ffda7a;
  border-radius: 50%;
}

.react-calendar__tile--now:enabled:focus {
  background: #ffda7a;
  border-radius: 50%;
}

/* Tile active: die Kachel, die angeklickt wird */
.react-calendar__tile--active {
  background: #ffda7a;
  border-radius: 50%;
}

.react-calendar__tile--active:enabled:focus {
  background: transparent;
  border-radius: 50%;
  border: solid 0.1rem #ffda7a;
}

/*
.react-calendar--selectRange , .react-calendar__tile--now:enabled:focus
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile:enabled:hover {
  border: solid #ffda7a 0.1rem;
}
*/
