.textarea {
  width: 310px;
  max-width: 100%;
  height: 130px;
  resize: none;
  background: repeating-linear-gradient(
    #f9f2ff,
    #f9f2ff 40px,
    #f29a9a 40px,
    #f29a9a 41.5px
  );
  line-height: 42px;
  color: var(--color-secondary);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-mm);
  border: none;
  padding: 0.5rem;
}

.textarea::placeholder {
  color: var(--color-secondary);
  opacity: 60%;
}

.textarea:focus {
  outline: none;
}
