.textarea {
  color: var(--color-secondary);
  background: var(--color-primary);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-mm);
  border: none;
  padding: 0.3rem;
  resize: none;
}

.textarea::placeholder {
  color: var(--color-secondary);
  opacity: 60%;
}

.textarea:focus {
  outline: none;
}
