.container {
  height: 100vh;
  background-image: url(../../assets/FlowerLarge_top2.png),
    url(../../assets/FlowerLarge_bottom2.png);
  background-repeat: no-repeat;
  background-position: right 0, left 0 bottom 0;
  overflow: hidden;
}

.content {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: 4rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  text-align: center;
}

.letsgo {
  height: 10rem;
}
