.container {
  background-color: transparent;
  width: 20rem;
  margin: 1rem;
  padding: 0.5rem;
}
.headerDoneCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donemessage {
  text-align: center;
}
