.container {
  background-color: transparent;
  width: 20rem;
  border-radius: 0.5rem;
}

.headerActiveCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textarea {
  display: grid;
  justify-content: center;
}
