.familyPrimary {
  font-family: var(--font-family-primary);
}

.familySecondary {
  font-family: var(--font-family-secondary);
}

.weightReg {
  font-weight: var(--font-weight-regular);
}

.weightLight {
  font-weight: var(--font-weight-light);
}

.colorPrimary {
  color: var(--color-primary);
}

.colorWhite {
  color: var(--flower);
}

.colorSecondary {
  color: var(--color-secondary);
}

.colorAction {
  color: var(--color-action);
}

.colorTertiary {
  color: var(--color-tertiary);
}

.xl {
  font-size: var(--font-size-xl);
}

.l {
  font-size: var(--font-size-l);
}

.m {
  font-size: var(--font-size-m);
}

.s {
  font-size: var(--font-size-s);
}

.xs {
  font-size: var(--font-size-xs);
}

.mm {
  font-size: var(--font-size-mm);
}
