.xl {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  color: var(--color-primary);
  font-size: 2.5rem;
}

.l {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  color: var(--flower);
  font-size: 2rem;
}

.m {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  color: var(--color-secondary);
  font-size: 1.3rem;
}

.sdarkcolor {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  color: var(--color-action);
  font-size: 1.1rem;
}

.slightcolor {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  color: var(--color-primary);
  font-size: 1.1rem;
}

.xsregweight {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  color: var(--color-tertiary);
  font-size: 0.9rem;
}

.xslightweight {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-light);
  color: var(--color-action);
  font-size: 0.9rem;
}

.mm {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-regular);
  color: var(--color-secondary);
  font-size: 1.5rem;
}
